@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/styles/globals.css */
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth; /* Smooth scrolling */
  user-select: none;
}
:root {
  --primary-color: #66be56;
  --secondary-color: #f0f5ff;
  --text-color: #333;
  --border-color: #e6e6e6;
  --icon-color: #6c757d;
  --hover-color: #f8f9fa;
  --button-color: #66be56;
  --button-hover-color: #66be56c4;
}
.css-1nmdiq5-menu {
  z-index: 9999 !important;
}
/* Force background color for NextUI DatePicker elements */
.custom-input [data-slot="input-wrapper"] {
  background-color: #fff !important; /* Set the background color to white */
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.noData {
  text-align: center;
  font-size: 1.1rem;

  display: flex;

  height: 55vh;
  align-items: center;
  justify-content: center;
  color: #888;
  /* margin-top: 20px; */
}
.not-hover:hover {
  background-color: unset !important;
}
.css-t3ipsp-control {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 1px var(--primary-color) !important;
}
.css-tr4s17-option {
  background-color: var(--primary-color) !important;
}
.css-d7l1ni-option {
  background-color: var(--hover-color) !important;
}
