.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 8px 2px 6px #0000001a;
  position: relative;
  /* height: 6rem; */
}

.iconWrapper {
  position: relative;
  cursor: pointer;
}
.toggleButton {
  position: absolute;
  top: 20px;
  left: 80px;
  background-color: #66BE56;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: left 0.3s ease-in-out;
}

.toggleButton.open {
  left: 290px;
}

.toggleButton:hover {
  background-color: #66be5698;
}

.notificationIcon {
  font-size: 2.5rem;
  color: #66BE56;
  background-color: #f0f4ff;
  padding: 0.5rem;
  border-radius: 8px;
}

.notificationDropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  min-width: 200px;
  z-index: 1000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.chevron {
  color: #aaa;
}

.profileDropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  min-width: 150px;
  z-index: 1000;
}

.profileDropdown p {
  margin: 0.5rem 0;
  color: #333;
  cursor: pointer;
}

.profileDropdown p:hover {
  color: #66be56ad;
}
@media (max-width: 768px) {
  .toggleButton {
    display: none;
  }
}
